* {
  font-family: "Verdana";
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 1.6rem;
  text-align: center;
  color: #333;
}

#box-shadow-generator {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

#controls-container,
#preview {
  flex: 1;
  padding: 2rem;
}

/* Controls */
.form-control {
  display: flex;
  padding-bottom: 1.2rem;
  margin-bottom: 1.2rem;
  border-bottom: 1px dashed #ccc;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 1rem;
  color: #555;
}

.range-input {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.range-input input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 24px;
  background: #d3d3d3;
  outline: none;
}

.range-input input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #e9d60a;
  cursor: pointer;
}

.reference-input {
  display: flex;
  align-items: center;
}

.reference-input p {
  margin-left: 4px;
}

.form-control input[type="text"] {
  height: 30px;
  width: 30px;
  margin-left: 1rem;
  text-align: center;
}

#box {
  width: 100%;
  height: 300px;
  background-color: #e9d60a;
}

/* Comu */
#color-value {
  min-width: 100px;
}

/* Área de geração */
#generated-rule {
  text-align: center;
}

#generated-rule p {
  margin-bottom: 0.5rem;
}

#rules-area {
  background-color: #d3d3d3;
  max-width: 1000px;
  margin: 0 auto;
  border: 2px solid #e9d60a;
  padding: 1rem;
}
